:root
{
  --favcolor: rgb(255,0,0);
}
h1
{
  text-align: center;
  color: var(--favcolor);
  background-color: rgb(50,0,0);
  font-size: 38ptpt;
}
section
{
  color: var(--favcolor);
  background-repeat: no-report;
  float: right;
  text-align: center;
}
img
{
  border-radius: 25%
}
